<h1>Edit Signup</h1>

<%= form_for @signup do |f| %>
  <%= f.label :camper %>
  <%= f.text_field :camper %>
  <br>
  <%= f.label :activity %>
  <%= f.search_field :activity %>
  <br>
  <%= f.label :time %>
  <%= f.number_field :time %>
  
  <%= f.submit %>
<% end %>